<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>Docker Manager - Home</title>

    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">
    <link rel="stylesheet" href="css/dockerstyle.css">
</head>

<body>
    <div class="header">
		<a href="/index" class="title">Docker Manager</a>
				
		<!-- navbar -->
		<nav class="navbar">
			<div class="navblock">
				<ul class="navbar-list">
					<li class="nav-item active">
						<a href="index" class="nav-link">Home</a>
					</li>
					<li>
						<a href="connect" class="nav-link">Connect</a>
					</li>
					<li>
						<a href="containers" class="nav-link">Containers</a>
					</li>
					<li>
						<a href="create" class="nav-link">Create</a>
					</li>
					<li>
						<a href="contact" class="nav-link">Contact</a>
					</li>
				</ul>
			</div>
		</nav>
	</div>

	<section class="main">
    	<div class="content">
			<h1 style="">Docker Manager - Online Docker Client API</h1>
			<p>
				Docker manager is an online way to connect and manage your docker server. Docker Manager is able to list all of your containers whether it is running or not. The containers can be started, stopped by a single click on your mouse. You will be informed about your containers in seconds.
			</p>
			<h2>Usage:</h2>
			<ul>
				<li>
					<b>Connection:</b><br/>
					<ul>
						<li>Go to Connect page by the menu.</li>
						<li>In the text field, write in your docker server's IP address and port separated by a colon.</li>
						<li>Click on Connect button which will connect your Docker server automatically.</li>
						
					</ul>  
				</li>
				<li>
					<b>Manage your containers:</b><br/>
					<ul>
						<li>Go to Containers page by the menu. The Docker Manager lists all of your containers in a selectable list.</li>
						<li>Select the one container by clicking on it's image name.</li>
						<li>With the action buttons you can start actions on your selected container.</li>
					</ul>
				</li>
				<li>
					<b>Create new container:</b><br/>
					<ul>
						<li>Go to Create page in the menu.</li>
						<li>Fill all the data in the three textboxes.</li>
						<li>By clicking on Create button, your can create the new container.</li>
					</ul>
				</li>
			</ul>
		</div>
	</section>
        
	<footer class="footer">
		<div class="content">
			<div>
				<p class="author">2023 - Bodó Máté Benjámin</p>
			</div>
		</div>
	</footer>
     
</body>
</html>