<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Docker Manager - Home</title>

    <!-- load stylesheets -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:300,400">  <!-- Google web font "Open Sans" -->
    <link rel="stylesheet" href="css/bootstrap.min.css">                                      <!-- Bootstrap style -->
    <link rel="stylesheet" href="css/templatemo-style.css">                                   <!-- Templatemo style -->

</head>

    <body>
       
        <div class="tm-header">
            <div class="container-fluid">
                <div class="tm-header-inner">
                    <a href="/index" class="navbar-brand tm-site-name">Docker Manager</a>
                    
                    <!-- navbar -->
                    <nav class="navbar tm-main-nav">

                        <button class="navbar-toggler hidden-md-up" type="button" data-toggle="collapse" data-target="#tmNavbar">
                            &#9776;
                        </button>
                        
                        <div class="collapse navbar-toggleable-sm" id="tmNavbar">
                            <ul class="nav navbar-nav">
                                <li class="nav-item active">
                                    <a href="index" class="nav-link">Home</a>
                                </li>
                                <li class="nav-item">
                                    <a href="connect" class="nav-link">Connect</a>
                                </li>
                                <li class="nav-item">
                                    <a href="containers" class="nav-link">Containers</a>
                                </li>
                                <li class="nav-item">
                                    <a href="contact" class="nav-link">Contact</a>
                                </li>
                            </ul>                        
                        </div>
                        
                    </nav>  

                </div>                                  
            </div>            
        </div>

        <section class="tm-section">
            <div class="container-fluid">
				<h1 style="">Docker Manager - Online Docker Client API</h1>
				<p>
					Docker manager is an online way to connect and manage your docker server. Docker Manager is able to list all of your containers
					whether it is running or not. The containers can be started, stopped by a single click on your mouse. You will be informed about
					your containers in seconds.
				</p>
				<h2>Usage:</h2>
				<ul>
					<li>
						<b>Connection:</b> Please go to Connect page by the menu. In the text field, write in your docker server's IP address and port separated
						with a colon. Then click on Connect button which will connect your docker automatically.
					</li>
					<li>
						<b>Reach your containers:</b> Go to Containers page by the menu. The Docker Manager lists all of your containers in a selectable list.
						Select the one container by clicking on it's image name. With Start and Stop button you can run and stop your selected container.
						Click on Info button to list additional information of the container. 
					</li>
				</ul>
            </div>
        </section>
        
        <footer class="tm-footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xs-12 tm-copyright-col">
                        <p class="tm-copyright-text">2018 - Bodó Máté Benjámin</p>
                    </div>
                </div>
            </div>
        </footer>
     
</body>
</html>